body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
 border-color: #e50606;
border-width: 6px;
background-color: lightgrey;
font-weight: bold;
font-size: 20px;
}
#bereken {
  background-color: black;
 color: white;
width:130px;
height: 40px;
font-size: 20px;
}
h1 {
color: darkgreen;

}
#resultaat {
margin-top: 200px;

}
#gewicht{

         display:inline-block;
         margin-right:15px;
}
#lengte {

  display:inline-block;
  margin-right:15px;
}
